<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu App de Pedidos</title>
  </head>
  <body>
    <h1>Meu Sistema de Pedidos!</h1>
    <h2>Itens do Menu:</h2>
    <a href="/addBebida">Cadastrar Bebida</a>
    <a href="/addLanche">Cadastrar Lanche</a>
    <a href="/listPedidos">Listar Pedidos</a>
    <h2>Outras Ações:</h2>
    <a href="/searchPedido">Procurar Pedido</a>
  </body>
</html>
